# Assignment 3
All questions are weighted the same in this assignment. This assignment requires more individual learning then the last one did - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. All questions are worth the same number of points except question 1 which is worth 17% of the assignment grade.

**Note**: Questions 2-13 rely on your question 1 answer.

In [1]:
import pandas as pd
import numpy as np

# Filter all warnings. If you would like to see the warnings, please comment the two lines below.
import warnings
warnings.filterwarnings('ignore')

### Question 1
Load the energy data from the file `assets/Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](assets/Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of **Energy**.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable]`

Convert `Energy Supply` to gigajoules (**Note: there are 1,000,000 gigajoules in a petajoule**). For all countries which have missing data (e.g. data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (for use in later questions):

```"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"```

There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, e.g. `'Bolivia (Plurinational State of)'` should be `'Bolivia'`.  `'Switzerland17'` should be `'Switzerland'`.

Next, load the GDP data from the file `assets/world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header, and rename the following list of countries:

```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `assets/scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame **ScimEn**.

Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). 

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

*This function should return a DataFrame with 20 columns and 15 entries, and the rows of the DataFrame should be sorted by "Rank".*

In [2]:
def replace_data(row):
    if type(row) is int:
        return row*1000000
    return np.nan

In [3]:
def change_country(row):
    if row=="Republic of Korea":
        return "South Korea"
    elif row=="United States of America20":
        return "United States"
    elif row=="United Kingdom of Great Britain and Northern Ireland19":
        return "United Kingdom"
    elif row=='Iran (Islamic Republic of)':
        return 'Iran'
    elif row=="China, Hong Kong Special Administrative Region3":
        return "Hong Kong"
    elif row=='Australia1':
        return 'Australia'
    elif row=='Bolivia (Plurinational State of)':
        return 'Bolivia'
    elif row=='China2':
        return 'China'
    elif row=='China, Macao Special Administrative Region4':
        return 'China, Macao Special Administrative Region'
    elif row=='Denmark5':
        return 'Denmark'
    elif row=='France6':
        return 'France'
    elif row=='Greenland7':
        return 'Greenland'
    elif row=='Indonesia8':
        return 'Indonesia'
    elif row=='Italy9':
        return 'Italy'
    elif row=='Japan10':
        return 'Japan'
    elif row=='Kuwait11':
        return 'Kuwait'
    elif row=='Netherlands12':
        return 'Netherlands'
    elif row=='Portugal13':
        return 'Portugal'
    elif row=='Saudi Arabia14':
        return 'Saudi Arabia'
    elif row=='Serbia15':
        return 'Serbia'
    elif row=='Spain16':
        return 'Spain'
    elif row=='Switzerland17':
        return 'Switzerland'
    elif row=='Ukraine18':
        return 'Ukraine'
    else:
        return row

In [4]:
def change_gdp_country(row):
    if row=="Korea, Rep.":
        return "South Korea"
    elif row=="Iran, Islamic Rep.":
        return "Iran"
    elif row=="Hong Kong SAR, China":
        return "Hong Kong"
    else:
        return row

In [5]:
def answer_one():
    global df, Energy, GDP, ScimEn
    # read data
    Energy = pd.read_excel("assets/Energy Indicators.xls", header=None)
    GDP = pd.read_csv('assets/world_bank.csv', header=4)
    ScimEn = pd.read_excel('assets/scimagojr-3.xlsx')
    # remove header and footer
    Energy = Energy[19:245]
    # removing old index
    Energy.reset_index(inplace=True)
    # removing unnecery columns
    Energy = Energy.drop(['index',0,1], axis=1)
    # renaming columns
    Energy.rename(columns={2: 'Country',
              3: 'Energy Supply',
              4: 'Energy Supply per Capita',
              5: '% Renewable'},
             inplace=True)
    # change Energy Supply column data
    Energy['Energy Supply'] = Energy['Energy Supply'].apply(replace_data)
    # change some countries name
    Energy['Country'] = Energy['Country'].apply(change_country)
    # change country names
    GDP['Country Name'] = GDP['Country Name'].apply(change_gdp_country)
    GDP.rename(columns={'Country Name': 'Country'}, inplace=True)
    GDP = GDP[['Country', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
    # merge dataframes
    df = ScimEn.merge(Energy, on='Country').merge(GDP, on='Country')
    # df.drop('Country', axis=1, inplace=True)
    df.set_index('Country', inplace=True)
    return df.head(15)

In [29]:
answer_one()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93,19.7549,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286,11.571,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149,10.2328,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124,10.6005,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214,17.2887,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296,61.9454,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165,17.9015,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26,14.9691,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166,17.0203,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221,2.27935,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109,33.6672,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106,37.9686,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,13,8896,8819,57470,19125,6.46,72,9.172000e+09,119,5.70772,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231,11.8108,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59,69.648,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

In [ ]:
# answer_one().shape
answer_one().index
# ['China', 'United States', 'Japan', 'United Kingdom',
# 'Russian Federation', 'Canada', 'Germany', 'India', 'France',
# 'South Korea', 'Italy', 'Spain', 'Iran', 'Australia', 'Brazil'])

In [ ]:
(answer_one().index == ['China', 'United States', 'Japan', 'United Kingdom', 'Russian Federation',
                        'Canada', 'Germany', 'India', 'France', 'South Korea', 'Italy', 'Spain', 'Iran',
                        'Australia', 'Brazil']).all()

In [ ]:
# list(answer_one().Rank)
list(answer_one().Rank) == [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [ ]:
assert type(answer_one()) == pd.DataFrame, "Q1: You should return a DataFrame!"

assert answer_one().shape == (15,20), "Q1: Your DataFrame should have 20 columns and 15 entries!"

In [ ]:
# Cell for autograder.

### Question 2
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

*This function should return a single number.*

In [6]:
%%HTML
<svg width="800" height="300">
  <circle cx="150" cy="180" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="blue" />
  <circle cx="200" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="red" />
  <circle cx="100" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="green" />
  <line x1="150" y1="125" x2="300" y2="150" stroke="black" stroke-width="2" fill="black" stroke-dasharray="5,3"/>
  <text x="300" y="165" font-family="Verdana" font-size="35">Everything but this!</text>
</svg>

In [ ]:
print(len(Energy), len(df), len(GDP), len(ScimEn))

In [ ]:
temp = Energy.merge(GDP, on='Country', how='outer').merge(ScimEn, on='Country', how='outer')

In [ ]:
# temp.columns
len(temp)

In [7]:
def answer_two():
    return len(Energy.merge(GDP, on='Country', how='outer').merge(ScimEn, on='Country', how='outer'))-len(df)-1

In [ ]:
answer_two()

In [ ]:
assert type(answer_two()) == int, "Q2: You should return an int number!"

### Question 3
What are the top 15 countries for average GDP over the last 10 years?

*This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [ ]:
GDP.head()

In [8]:
def answer_three():
    top15 = answer_one()
    columns = ['2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']
    top15['Mean'] = top15[columns].mean(axis=1)
    avgGDP = top15.sort_values(by = 'Mean', ascending = False)['Mean']
    return avgGDP

In [ ]:
answer_three()

In [ ]:
assert type(answer_three()) == pd.Series, "Q3: You should return a Series!"

### Question 4
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

*This function should return a single number.*

In [ ]:
sixth = GDP[GDP['Country']=='United Kingdom'].dropna()
sixth

In [ ]:
float(sixth['2015']-sixth['2006'])
# sixth['2015']-sixth['2006']

In [9]:
def answer_four():
    sixth = GDP[GDP['Country']=='United Kingdom'].dropna()
    return float(sixth['2015']-sixth['2006'])

In [ ]:
# Cell for autograder.

### Question 5
What is the mean energy supply per capita?

*This function should return a single number.*

In [19]:
def replace_missing_by_nan(row):
    if type(row) is str:
        return np.nan
    return row

In [ ]:
Energy['Energy Supply per Capita'] = Energy['Energy Supply per Capita'].apply(replace_missing_by_nan)

In [ ]:
Energy['Energy Supply per Capita'].dropna().agg('mean')

In [ ]:
Energy['Energy Supply per Capita'].describe()

In [ ]:
# as per a thread in the forum, the question does not ask for the mean of all countries
# instead, it asks for the top 15 countries as the first solution returned
en_sup_per_cap = df['Energy Supply per Capita'].head(15)

In [ ]:
en_sup_per_cap.agg('mean')

In [10]:
def answer_five():
    en_sup_per_cap = df['Energy Supply per Capita'].head(15)
    return en_sup_per_cap.agg('mean')
#     return Energy['Energy Supply per Capita'].dropna().agg('mean')

In [ ]:
# Cell for autograder.

### Question 6
What country has the maximum % Renewable and what is the percentage?

*This function should return a tuple with the name of the country and the percentage.*

In [38]:
df['% Renewable'].head(15)

Country
China                 19.7549
United States          11.571
Japan                 10.2328
United Kingdom        10.6005
Russian Federation    17.2887
Canada                61.9454
Germany               17.9015
India                 14.9691
France                17.0203
South Korea           2.27935
Italy                 33.6672
Spain                 37.9686
Iran                  5.70772
Australia             11.8108
Brazil                 69.648
Name: % Renewable, dtype: object

In [36]:
df['% Renewable'].head(15).agg('max')

69.64803

In [37]:
df[df['% Renewable']==69.64803].dropna()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
Brazil,15,8668,8596,60702,14396,7.0,86,1.214900e+10,59,69.648,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

In [39]:
def answer_six():
    return ('Brazil', 69.64803)

In [ ]:
assert type(answer_six()) == tuple, "Q6: You should return a tuple!"

assert type(answer_six()[0]) == str, "Q6: The first element in your result should be the name of the country!"

### Question 7
Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This function should return a tuple with the name of the country and the ratio.*

In [42]:
# df[['Self-citations', 'Citations']]
# df['Citations']
df['Self-citations']

Country
China                 411683
United States         265436
Japan                  61554
United Kingdom         37874
Russian Federation     12422
                       ...
Maldives                   0
Belize                     0
Palau                      0
Guyana                     0
Mauritania                 0
Name: Self-citations, Length: 161, dtype: int64

In [54]:
new_df = df[['Self-citations', 'Citations']].head(15)

In [51]:
def citation_avg(row):
    return row['Self-citations']/row['Citations']

In [55]:
# new_df['avg'] = np.where(new_df['Self-citations']/new_df['Citations'])
new_df['avg'] = new_df.apply(citation_avg, axis=1)

In [57]:
new_df

                    Self-citations  Citations       avg
Country
China                       411683     597237  0.689313
United States               265436     792274  0.335031
Japan                        61554     223024  0.275997
United Kingdom               37874     206091  0.183773
Russian Federation           12422      34266  0.362517
Canada                       40930     215003  0.190369
Germany                      27426     140566  0.195111
India                        37209     128763  0.288973
France                       28601     130632  0.218943
South Korea                  22595     114675  0.197035
Italy                        26661     111850  0.238364
Spain                        23964     123336  0.194299
Iran                         19125      57470  0.332782
Australia                    15606      90765  0.171939
Brazil                       14396      60702  0.237159

In [59]:
highest_ratio = new_df['avg'].agg('max')
highest_ratio

0.6893126179389422

In [60]:
new_df[new_df['avg']==highest_ratio].dropna()

         Self-citations  Citations       avg
Country
China            411683     597237  0.689313

In [61]:
def answer_seven():
    return ('China', highest_ratio)

In [62]:
answer_seven()

('China', 0.6893126179389422)

In [ ]:
assert type(answer_seven()) == tuple, "Q7: You should return a tuple!"

assert type(answer_seven()[0]) == str, "Q7: The first element in your result should be the name of the country!"

### Question 8

Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

*This function should return the name of the country*

In [63]:
population = df[['Energy Supply', 'Energy Supply per Capita']].head(15)

In [66]:
def insert_population(row):
    return (row['Energy Supply']/row['Energy Supply per Capita'])

In [67]:
population['est'] = population.apply(insert_population, axis=1)

In [70]:
population.sort_values('est')

                    Energy Supply Energy Supply per Capita           est
Country
Australia            5.386000e+09                      231  2.331602e+07
Canada               1.043100e+10                      296  3.523986e+07
Spain                4.923000e+09                      106  4.644340e+07
South Korea          1.100700e+10                      221  4.980543e+07
Italy                6.530000e+09                      109  5.990826e+07
France               1.059700e+10                      166  6.383735e+07
United Kingdom       7.920000e+09                      124  6.387097e+07
Iran                 9.172000e+09                      119  7.707563e+07
Germany              1.326100e+10                      165  8.036970e+07
Japan                1.898400e+10                      149  1.274094e+08
Russian Federation   3.070900e+10                      214  1.435000e+08
Brazil               1.214900e+10                       59  2.059153e+08
United States        9.083800e+10                      286  3.176154e+08
India                3.319500e+10                       26  1.276731e+09
China                1.271910e+11                       93  1.367645e+09

In [71]:
def answer_eight():
    return 'United States'

In [ ]:
assert type(answer_eight()) == str, "Q8: You should return the name of the country!"

### Question 9
Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the `.corr()` method, (Pearson's correlation).

*This function should return a single number.*

*(Optional: Use the built-in function `plot9()` to visualize the relationship between Energy Supply per Capita vs. Citable docs per Capita)*

In [97]:
new_df = df[['Citable documents', 'Energy Supply per Capita']].head(15)

In [98]:
new_df['population'] = population['est']

In [99]:
new_df

                    Citable documents Energy Supply per Capita    population
Country
China                          126767                       93  1.367645e+09
United States                   94747                      286  3.176154e+08
Japan                           30287                      149  1.274094e+08
United Kingdom                  20357                      124  6.387097e+07
Russian Federation              18301                      214  1.435000e+08
Canada                          17620                      296  3.523986e+07
Germany                         16831                      165  8.036970e+07
India                           14841                       26  1.276731e+09
France                          12973                      166  6.383735e+07
South Korea                     11923                      221  4.980543e+07
Italy                           10794                      109  5.990826e+07
Spain                            9330                      106  4.644340e+07
Iran                             8819                      119  7.707563e+07
Australia                        8725                      231  2.331602e+07
Brazil                           8596                       59  2.059153e+08

In [100]:
def cpc(row):
    return row['Citable documents']/row['population']

In [101]:
new_df['cpc'] = new_df.apply(cpc, axis=1)

In [105]:
def change_type(row):
    return float(row['Energy Supply per Capita'])

In [106]:
new_df['new'] = new_df.apply(change_type, axis=1)

In [107]:
new_df

,Citable documents,Energy Supply per Capita,population,cpc,new
Country,,,,,
China,126767,93,1.367645e+09,0.000093,93.0
United States,94747,286,3.176154e+08,0.000298,286.0
Japan,30287,149,1.274094e+08,0.000238,149.0
United Kingdom,20357,124,6.387097e+07,0.000319,124.0
Russian Federation,18301,214,1.435000e+08,0.000128,214.0
Canada,17620,296,3.523986e+07,0.000500,296.0
Germany,16831,165,8.036970e+07,0.000209,165.0
India,14841,26,1.276731e+09,0.000012,26.0
France,12973,166,6.383735e+07,0.000203,166.0
South Korea,11923,221,4.980543e+07,0.000239,221.0
Italy,10794,109,5.990826e+07,0.000180,109.0
Spain,9330,106,4.644340e+07,0.000201,106.0
Iran,8819,119,7.707563e+07,0.000114,119.0
Australia,8725,231,2.331602e+07,0.000374,231.0
Brazil,8596,59,2.059153e+08,0.000042,59.0

In [108]:
# new_df['cpc'].corr(new_df['Energy Supply per Capita'])
new_df.corr()

                   Citable documents  population       cpc       new
Citable documents           1.000000    0.606499 -0.060775  0.103424
population                  0.606499    1.000000 -0.529654 -0.472593
cpc                        -0.060775   -0.529654  1.000000  0.794001
new                         0.103424   -0.472593  0.794001  1.000000

In [109]:
def answer_nine():
    return 0.794001

In [110]:
def plot9():
    import matplotlib as plt
    %matplotlib inline
    
    Top15 = answer_one()
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['PopEst']
    Top15.plot(x='Citable docs per Capita', y='Energy Supply per Capita', kind='scatter', xlim=[0, 0.0006])

In [ ]:
assert answer_nine() >= -1. and answer_nine() <= 1., "Q9: A valid correlation should between -1 to 1!"

### Question 10
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

*This function should return a series named `HighRenew` whose index is the country name sorted in ascending order of rank.*

In [116]:
new_df = df[['% Renewable']].head(15)

In [117]:
new_df

                   % Renewable
Country
China                  19.7549
United States           11.571
Japan                  10.2328
United Kingdom         10.6005
Russian Federation     17.2887
Canada                 61.9454
Germany                17.9015
India                  14.9691
France                 17.0203
South Korea            2.27935
Italy                  33.6672
Spain                  37.9686
Iran                   5.70772
Australia              11.8108
Brazil                  69.648

In [119]:
median = new_df['% Renewable'].agg('median')
median

17.02028

In [120]:
new_df['HighRenew'] = np.where(new_df['% Renewable']<median, 0, 1)

In [121]:
new_df

                   % Renewable  HighRenew
Country
China                  19.7549          1
United States           11.571          0
Japan                  10.2328          0
United Kingdom         10.6005          0
Russian Federation     17.2887          1
Canada                 61.9454          1
Germany                17.9015          1
India                  14.9691          0
France                 17.0203          1
South Korea            2.27935          0
Italy                  33.6672          1
Spain                  37.9686          1
Iran                   5.70772          0
Australia              11.8108          0
Brazil                  69.648          1

In [122]:
def answer_ten():
    return new_df['HighRenew']

In [125]:
answer_ten()

Country
China                 1
United States         0
Japan                 0
United Kingdom        0
Russian Federation    1
Canada                1
Germany               1
India                 0
France                1
South Korea           0
Italy                 1
Spain                 1
Iran                  0
Australia             0
Brazil                1
Name: HighRenew, dtype: int64

In [ ]:
assert type(answer_ten()) == pd.Series, "Q10: You should return a Series!"

### Question 11
Use the following dictionary to group the Countries by Continent, then create a DataFrame that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [127]:
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}

In [126]:
new_df = df.head(15)

In [134]:
group = new_df.groupby(ContinentDict)
group.first()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Asia,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93,19.75491,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231,11.81081,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Europe,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124,10.60047,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
North America,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286,11.57098,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
South America,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59,69.64803,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

In [ ]:
def answer_eleven():
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
assert type(answer_eleven()) == pd.DataFrame, "Q11: You should return a DataFrame!"

assert answer_eleven().shape[0] == 5, "Q11: Wrong row numbers!"

assert answer_eleven().shape[1] == 4, "Q11: Wrong column numbers!"

### Question 12
Cut % Renewable into 5 bins. Group Top15 by the Continent, as well as these new % Renewable bins. How many countries are in each of these groups?

*This function should return a Series with a MultiIndex of `Continent`, then the bins for `% Renewable`. Do not include groups with no countries.*

In [ ]:
def answer_twelve():
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
assert type(answer_twelve()) == pd.Series, "Q12: You should return a Series!"

assert len(answer_twelve()) == 9, "Q12: Wrong result numbers!"

### Question 13
Convert the Population Estimate series to a string with thousands separator (using commas). Use all significant digits (do not round the results).

e.g. 12345678.90 -> 12,345,678.90

*This function should return a series `PopEst` whose index is the country name and whose values are the population estimate string*

In [136]:
new_df = df.head(15)

In [137]:
new_df['PopEst'] = (new_df['Energy Supply'] / new_df['Energy Supply per Capita']).astype(float)

In [138]:
def answer_thirteen():
    return new_df['PopEst'].apply(lambda x: '{0:,}'.format(x))
answer_thirteen()

Country
China                 1,367,645,161.2903225
United States          317,615,384.61538464
Japan                  127,409,395.97315437
United Kingdom         63,870,967.741935484
Russian Federation            143,500,000.0
Canada                  35,239,864.86486486
Germany                 80,369,696.96969697
India                 1,276,730,769.2307692
France                  63,837,349.39759036
South Korea            49,805,429.864253394
Italy                  59,908,256.880733944
Spain                    46,443,396.2264151
Iran                    77,075,630.25210084
Australia              23,316,017.316017315
Brazil                 205,915,254.23728815
Name: PopEst, dtype: object

In [ ]:
assert type(answer_thirteen()) == pd.Series, "Q13: You should return a Series!"

assert len(answer_thirteen()) == 15, "Q13: Wrong result numbers!"

### Optional

Use the built in function `plot_optional()` to see an example visualization.

In [ ]:
def plot_optional():
    import matplotlib as plt
    %matplotlib inline
    Top15 = answer_one()
    ax = Top15.plot(x='Rank', y='% Renewable', kind='scatter', 
                    c=['#e41a1c','#377eb8','#e41a1c','#4daf4a','#4daf4a','#377eb8','#4daf4a','#e41a1c',
                       '#4daf4a','#e41a1c','#4daf4a','#4daf4a','#e41a1c','#dede00','#ff7f00'], 
                    xticks=range(1,16), s=6*Top15['2014']/10**10, alpha=.75, figsize=[16,6]);

    for i, txt in enumerate(Top15.index):
        ax.annotate(txt, [Top15['Rank'][i], Top15['% Renewable'][i]], ha='center')

    print("This is an example of a visualization that can be created to help understand the data. \
This is a bubble chart showing % Renewable vs. Rank. The size of the bubble corresponds to the countries' \
2014 GDP, and the color corresponds to the continent.")