In [6]:
import pandas as pd

sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj1 = pd.Series(sdata)
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj2 = pd.Series(sdata, index=states)
obj3 = pd.isnull(obj2)
print(sdata)
print()
print(obj1)
print()
print(obj2)
print()
print(obj3)

{'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [5]:
x = obj2['California']
print(obj2['California'] != x)
print(type(obj2['California']))
print(type(x))
print(obj2['California'])
print(x)

True
<class 'numpy.float64'>
<class 'numpy.float64'>
nan
nan

In [7]:
obj3['California']

True

In [8]:
import math
math.isnan(obj2['California'])

True

In [11]:
None == obj2['California']

False

In [14]:
d = {
    '1': 'Alice',
    '2': 'Bob',
    '3': 'Rita',
    '4': 'Molly',
      '5': 'Ryan'
}
S = pd.Series(d)
print(S)

1    Alice
2      Bob
3     Rita
4    Molly
5     Ryan
dtype: object

In [15]:
S.iloc[0:3]

1    Alice
2      Bob
3     Rita
dtype: object

In [16]:
df = pd.read_csv('https://raw.githubusercontent.com/jbrownlee/Datasets/master/abalone.csv')

In [19]:
df = df.rename(mapper= lambda x: x.lower(), axis='columns')

In [20]:
df.head()

   m  0.455  0.365  0.095   0.514  0.2245   0.101   0.15  15
0  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7
1  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9
2  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10
3  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7
4  I  0.425  0.300  0.095  0.3515  0.1410  0.0775  0.120   8

In [24]:
df.where(df['15']>7).dropna().head()

   m  0.455  0.365  0.095   0.514  0.2245   0.101   0.15    15
1  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9.0
2  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10.0
4  I  0.425  0.300  0.095  0.3515  0.1410  0.0775  0.120   8.0
5  F  0.530  0.415  0.150  0.7775  0.2370  0.1415  0.330  20.0
6  F  0.545  0.425  0.125  0.7680  0.2940  0.1495  0.260  16.0

In [25]:
s1 = pd.Series({1: 'Alice', 2: 'Jack', 3: 'Molly'})
s2 = pd.Series({'Alice': 1, 'Jack': 2, 'Molly': 3})

In [26]:
s2[1]

2

In [27]:
s1.loc[1]

'Alice'

In [28]:
s2.loc[1]

KeyError: ignored

In [29]:
s2.iloc[1]

2

In [30]:
s2

Alice    1
Jack     2
Molly    3
dtype: int64