In [1]:
import pandas as pd
import numpy as np

**Q1**
----

In [2]:
student = pd.DataFrame.from_dict({"Name": ["James", "Mike", "Sally"],
                                 "School": ["Buissness", "Law", "Engineering"]})

In [3]:
student.set_index("Name", inplace=True)
student

            School
Name
James    Buissness
Mike           Law
Sally  Engineering

In [4]:
staff = pd.DataFrame.from_dict({"Name": ["Kelly", "Sally", "James"],
                                "Role": ["Director", "Liason", "Grader"]})
staff.set_index("Name", inplace=True)
staff

           Role
Name
Kelly  Director
Sally    Liason
James    Grader

In [5]:
pd.merge(staff, student, how='left', left_index=True, right_index=True)

           Role       School
Name
Kelly  Director          NaN
Sally    Liason  Engineering
James    Grader    Buissness

In [6]:
pd.merge(staff, student, how='left', left_index=True, right_index=True)

           Role       School
Name
Kelly  Director          NaN
Sally    Liason  Engineering
James    Grader    Buissness

In [7]:
pd.merge(student, staff, how='left', left_index=True, right_index=True)

            School    Role
Name
James    Buissness  Grader
Mike           Law     NaN
Sally  Engineering  Liason

In [8]:
pd.merge(student, staff, how='right', left_index=True, right_index=True)

            School      Role
Name
Kelly          NaN  Director
Sally  Engineering    Liason
James    Buissness    Grader

**Q3**
----

In [9]:
df = pd.DataFrame(['A+', 'A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D'], index=['excellent', 'excellent', 'excellent', 'good', 'good', 'good', 'ok', 'ok', 'ok', 'poor', 'poor'], columns = ['Grades'])
(my_categories= ['A+', 'A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D'], ordered=True)
grades = df['Grades'].astype(my_categories)
result = grades[(grades>'B') & (grades<'A')]

SyntaxError: ignored

In [10]:
df = pd.DataFrame(['A+', 'A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D'], index=['excellent', 'excellent', 'excellent', 'good', 'good', 'good', 'ok', 'ok', 'ok', 'poor', 'poor'], columns = ['Grades'])
my_categories = pd.CategoricalDtype(categories=['D', 'D+', 'C-', 'C', 'C+', 'B-', 'B', 'B+', 'A-', 'A', 'A+'], ordered=True)
grades = df['Grades'].astype(my_categories)
result = grades[(grades>'B') & (grades<'A')]
result

excellent    A-
good         B+
Name: Grades, dtype: category
Categories (11, object): ['D' < 'D+' < 'C-' < 'C' ... 'B+' < 'A-' < 'A' < 'A+']

In [11]:
df = pd.DataFrame(['A+', 'A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D'], index=['excellent', 'excellent', 'excellent', 'good', 'good', 'good', 'ok', 'ok', 'ok', 'poor', 'poor'], columns = ['Grades'])
my_categories= pd.CategoricalDtype(categories=['A+', 'A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D'])
grades = df['Grades'].astype(my_categories)
result = grades[(grades>'B') & (grades<'A')]
result

TypeError: ignored

In [12]:
df = pd.DataFrame(['A+', 'A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D'], index=['excellent', 'excellent', 'excellent', 'good', 'good', 'good', 'ok', 'ok', 'ok', 'poor', 'poor'], columns = ['Grades'])
my_categories= pd.CategoricalDtype(categories=['D', 'D+', 'C-', 'C', 'C+', 'B-', 'B', 'B+', 'A-', 'A', 'A+'])
grades = df['Grades'].astype(my_categories)
result = grades[(grades>'B') & (grades<'A')]
result

TypeError: ignored

**Q4**
----

In [13]:
df = pd.DataFrame.from_dict({"world rank": [1,2,3,4,5],
                             "institution": ['HU', 'MIT', 'SU', 'UC', 'CIT'],
                             'country': ['USA', 'USA', 'USA', 'UK', 'USA'],
                             'rank level': ['First top','First top','First top','First top','First top']})
df

   world rank institution country rank level
0           1          HU     USA  First top
1           2         MIT     USA  First top
2           3          SU     USA  First top
3           4          UC      UK  First top
4           5         CIT     USA  First top

In [14]:
df.pivot_table(values='score', index='rank level', columns='country', aggfunc=[np.median], margins=True)

KeyError: ignored

**Q5**
----

In [15]:
(pd.Timestamp('11/29/2019') + pd.offsets.MonthEnd()).weekday()

5

**Q7**
----

In [16]:
student = pd.DataFrame.from_dict({"First Name": ["James", "Mike", "Sally"],
                                  "Last Name": ["Hammond", "Smith", "Brooks"],
                                  "School": ["Buissness", "Law", "Engineering"]})
student

  First Name Last Name       School
0      James   Hammond    Buissness
1       Mike     Smith          Law
2      Sally    Brooks  Engineering

In [17]:
staff = pd.DataFrame.from_dict({"First Name": ["Kelly", "Sally", "James"],
                                "Last Name": ["Dins", "Brooks", "Wilde"],
                                "Role": ["Director", "Liason", "Grader"]})
staff

  First Name Last Name      Role
0      Kelly      Dins  Director
1      Sally    Brooks    Liason
2      James     Wilde    Grader

In [18]:
result_df = pd.merge(student, staff, how='inner', on=['First Name', 'Last Name'])
result_df

  First Name Last Name       School    Role
0      Sally    Brooks  Engineering  Liason

In [19]:
result_df = pd.merge(student, staff, how='right', on=['First Name', 'Last Name'])
result_df

  First Name Last Name       School      Role
0      Kelly      Dins          NaN  Director
1      Sally    Brooks  Engineering    Liason
2      James     Wilde          NaN    Grader

In [20]:
result_df = pd.merge(staff, student, how='right', on=['First Name', 'Last Name'])
result_df

  First Name Last Name    Role       School
0      James   Hammond     NaN    Buissness
1       Mike     Smith     NaN          Law
2      Sally    Brooks  Liason  Engineering

**Q9**
----

In [21]:
pd.Period('01/12/2019', 'M') + 5

Period('2019-06', 'M')